.buttonContainer{
  padding: 5%;
  margin:5%;
  background: lightgrey;
  height: min-content;
 .button{
   background: #7a0000;
   color: white;
   padding: 5%;
   font-weight: bold;
   margin: 5% 0
 }
}